@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #F6F4F0;
    max-width: 100vw;
    overflow-x: hidden;
}

.main-div {
    height: 85vh;
    width: 70%;
    position: absolute;
    top: 8vh;
    left: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.log-box {
    margin-top: 40px;
    width: 170px;
    height: 40px;
    border-bottom: 4px solid #CAAA00;
    border-right: 11px solid #CAAA00;
    clip-path: polygon(0 0, 100% 0%, 95% 100%, 9% 100%);
    background-color: #FFD600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.log-box h1 {
    font-size: 1.3rem;
    color: #000C38;
    font-weight: bold;
    font-family: Poppins;
}

.s-d {
    position: relative;
    left: 8.3%;
    height: 20px;
    width: 70px;
    clip-path: polygon(63% 0, 0 0, 100% 100%);
    background-color: #CAAA00;
    margin-top: -2px;
   
}

.r-h{
    font-family: Poppins;
}


.bar-graph{
    position: absolute;
    height: 20vh;
    width: 55vw;
    top: 25%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.c-div{
    position: absolute;
    height: 10vh;
    width: 30vw;
    background-color: #FF7A7A;
    border-radius: 10px;
    
    
}

.c-div p{
   position: absolute;
   right: 20px;
   bottom: 30%;
   font-family: Poppins;
   font-weight: bold;
   font-size: 1rem;
}

.g-div{
    position: absolute;
    height: inherit;
    background-color: #35BD3A;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Poppins;
    font-weight: bold;
    font-size: 1rem;
}


.btn-start{
    
    height: 70px;
    width: 320px;
    margin-top: 80%;
    font-size: 2rem;
    font-weight: 600;
    border-radius: 8px;
    color: #F6F4F0;
    background-color: #35DA3A;
    border: none;
    font-family: Poppins;
    
}

.btn-start:hover{
    background-color: #01AB08;
    
}

.compliment{
    position: absolute;
    top: 50%;
    font-family: Poppins;
}


.share{
    width: 15vw;
    height: 15vh;
    position: absolute;
    bottom: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: Poppins;
    font-size: 1.2rem;
    font-weight: 600;
    color: #535353;
}


.socail-icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 3rem;
}

.socail-icon i{
    padding: 20px;
}


.s-p{
    position: absolute;
    font-family: Poppins;
    font-size: 0.8rem;
    bottom: 1%;
}


.hidde-visibility{
    display: none;
}


@media only screen and (max-width: 1000px) {

    .main-div {
        height: 85vh;
        width: 80%;
        position: absolute;
        top: 5vh;
        left: 12%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .bar-graph{
        position: absolute;
        height: 20vh;
        width: 70vw;
        top: 25%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .c-div{
        position: absolute;
        height: 9vh;
        width: 50vw;
        background-color: #FF7A7A;
        border-radius: 10px;
        
        
    }


    .btn-start{
    
        height: 50px;
        width: 200px;
        margin-top: 90%;
        font-size: 1.5rem;
        font-weight: 600;
        border-radius: 8px;
        color: #F6F4F0;
        background-color: #35DA3A;
        border: none;
        font-family: Poppins;
        
    }
    
    .btn-start:hover{
        background-color: #01AB08;
        
    }
    
    .compliment{
        position: absolute;
        top: 50%;
        font-family: Poppins;
        font-size: 1rem;
    }

    .share{
        width: 30vw;
        height: 12vh;
        position: absolute;
        bottom: 10%;
        display: flex;
        align-items: center;
        flex-direction: column;
        font-family: Poppins;
        font-size: 1rem;
        font-weight: 600;
        color: #535353;
    }
    
    
    .socail-icon{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.5rem;
    }
    
    .socail-icon i{
        padding: 10px;
    }
    
    .g-div{
        font-size: 0.9rem;
    }

    #r-div{
        font-size: 0.9rem;
    }
   
}



@media only screen and (max-width: 500px) {

  

    .main-div {
        height: 85vh;
        width: 85vw;
        position: absolute;
        top: 5vh;
        left: 12%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .bar-graph{
        position: absolute;
        height: 20vh;
        width: 80vw;
        top: 25%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .c-div{
        position: absolute;
        height: 9vh;
        width: 60vw;
        background-color: #FF7A7A;
        border-radius: 10px;
        
        
    }


    .btn-start{
    
        height: 40px;
        width: 150px;
        margin-top: 30vh;
        font-size: 1.2rem;
        font-weight: 600;
        border-radius: 8px;
        color: #F6F4F0;
        background-color: #35DA3A;
        border: none;
        font-family: Poppins;
        
    }
    
    .btn-start:hover{
        background-color: #01AB08;
        
    }
    
    .compliment{
        position: absolute;
        top: 50%;
        font-family: Poppins;
        font-size: 0.6rem;
    }

    .share{
        width: 60vw;
        height: 12vh;
        position: absolute;
        bottom: 10%;
        display: flex;
        align-items: center;
        flex-direction: column;
        font-family: Poppins;
        font-size: 1rem;
        font-weight: 600;
        color: #535353;
    }
    
    
    .socail-icon{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.5rem;
    }
    
    .socail-icon i{
        padding: 10px;
    }

    .g-div{
        font-size: 0.7rem;
    }

    #r-div{
        font-size: 0.7rem;
    }


}



